body{
        background-color: darkseagreen;
    }

h1  {
        color: darkblue;
    }

h2  {
        color:darkorange;
    }

#l1 {
        color: chocolate; 
    }

.l2 {
        color: crimson;
    }