h1 {
    font-style: italic;
    text-decoration: underline;
    color: rgb(255, 0, 149);
}

#HeaderBG {
    background-color: rgb(0, 255, 213);
    display: flex;
    flex-direction: column;
}

body {
    background-color:  rgb(0, 255, 213);
}